body {
	overflow: hidden;	
	background-color:#0e0e10;
    color: white;

}  

video, input {
    display: inline;
}
video {
	width:calc(100% - 340px);
	position: absolute;
    top: 0;
    left: 0;
}

#topBox {
	width: 340px;
	border-left: 1px solid #303032;
	border-bottom: 1px solid #303032;
	position:absolute;
	top: 0;
	right: 0;
    bottom: 0;
	background-color: #1f1f23;
}

#topBox > div {
    height: 20px;
    margin: 3px 7px;
}

#topBox .topBoxTitle {
    width: 55px;
}

#controls {
    display: inline-block;
}


#chat {
    width: 100%;
    border-left: 1px solid #303032;
	border-top: 1px solid #303032;
    height: calc(100% - 50px);
  
	overflow-y: auto;
	background-color:#18181b;
 	font-family: "Inter";
	color: rgb(222, 222, 227);
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	overflow-x: hidden;
}

input {
    width: 275px;
	background-color:#2b2b2f;
}


.info {
    background-color: #0096d6;            
}

.error {
    background-color: red;
    color: white;
}

.flex {
    display: flex;
}

.chatline {
    display: flex;
    white-space: nowrap;
}

.chattime {
    margin: 0 10px 0 7px;
    vertical-align: top;

    font-size: 12px;
    font-weight: 400;
}

.chatbody {
    white-space: normal;
}

.commenter {
    font-weight: bolder;
}

.messagePrefix {
    margin-right: 3px;
}

