body {
	overflow: hidden;	
	background-color:#0e0e10;
    color: white;

    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;

    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: row;
}

video {
	width:calc(100% - 341px);
	height: 100%;
	position: absolute;
    top: 0;
    left: 0;
	cursor: none;
}


.video-container:hover .custom-controls {
}
.video-container .custom-controls {
}

  
@keyframes fadeInAnimationBar {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
@keyframes fadeOutAnimationBar {
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
     }
}

#userBoxDragBox {
	position: absolute;
	width: 100%;
	height: 40px;
	cursor: all-scroll;
	z-index: 991;
}

#userBox {
	width: 340px;
	height: 210px;
	border: 1px solid #303032;
	overflow-y: scroll;
	background-color:#18181b;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	/* padding: 5px; */
	z-index: 990;
	margin: 5px;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#userBoxInfoContainer {
	position: relative;
	width: 100%;
	height: 110px;
	bottom: 0;
	left: 0;
	/* background-color: green; */
}
#userBoxInfoContainerCover {
	position: relative;
	width: 100%;
	height: 110px;
	bottom: 0;
	left: 0;
	background-color: rgb(0,0,0,0.6);
	/* cursor: all-scroll; */
}
#userBoxCloseContainer {
	position: absolute;
	top: 2px;
	right: 2px;
	height: 20px;
	width: 20px;	
	padding: 2px;
	/* background-color: red; */
	border-radius: 4px;
	cursor: pointer;
	z-index: 992;
}
#userBoxCloseContainer:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
.userBoxClose {
	fill: #dedede;
}.userBoxClose:hover {
	fill: #ffffff;
}

#userNameBox {
	width: 250px;
	height: 45px;
	font-size: 18px;
	font-weight: 600;
	padding: 1px 2px;
	/* background-color: blue; */
	word-break: break-word;
	position: absolute;
	top: 5px;
	left: 20px;
}
.userNameinBox{
	text-shadow: 1px 1px 2px #000000;
	cursor: auto;	
	/* text-decoration:none; */
	/* color: inherit; */
	position: relative;
	z-index: 992;
}
#userLinkBox {
	width: 250px;
	height: 35px;
	font-size: 13px;
	font-weight: 400;
	padding: 1px 2px;
	/* background-color: blue; */
	word-break: break-word;
	position: absolute;
	top: 50px;
	left: 20px;
}
.userLinkinBox{
	text-shadow: 1px 1px 2px #000000;	
	text-decoration:none;
	color: inherit;
	cursor: pointer;
}
#userBoxInfo {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 320px;
	height: 80px;
	/* background-color: purple; */
}

#userBadgeText {
	position: relative;
	top: 10px;
	left: 20px;
	font-size: 14px;
	font-weight: 400;
	text-shadow: 1px 1px 2px #000000;
	
}
#userBoxBadgeContainer {
	position: absolute;
	width: 100%;
	height: 100px;
	bottom: 0;
	left: 0;
	/* background-color: blue; */
}

#userBadgeBox {
	position: absolute;
	top: 40px;
	left: 20px;
	width: 280px;
	height: 50px;
	/* background-color: green; */
}

.infobadge {
	padding: 4px;
	height: 24px;
	width: 24px;
}
.badgebox {
	display: inline-block;
	width: 32px;
	height: 32px;
	border: 1px solid rgba(255, 255, 255, 0.08);
	border-radius: 4px;
	margin-right: 5px;
}

#continuetimeOption {
	display: none;
	z-index: 999;
	height: 35px;
	width:calc(100% - 341px);
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 1px solid #303032;
	background-color:#18181b;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#continuetimeOption #continueText {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	/* margin-right: 10px; */
	margin-left: 10px;
	float: left;
}
#continuecontainer {
	position: relative;
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
#continuecontainer #continueConfirm {
	margin-right: 50px;
	margin-left: 10px;
	float: left;
	padding: 2px 4px;
}
#continuecontainer #continueClose {
	margin-right: 10px;
	margin-left: 10px;
	float: left;
	padding: 2px 6px;
}
#continuecontainer .button {
    background: transparent;
    cursor: pointer;    
    transition: 100ms all ease;
}
#continuecontainer .button:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 2px;
	
}
#selectVideo {
	opacity: 50%;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.selectVideoText {
	position: absolute;
	right: 410px;
	top: 2px;
	margin: 0;
}
.arrowHead {
	position: absolute;
	right: 350px;
	top: 2px;
	width: 0;
	height: 0;
	border-width: 10px 0 10px 20px;
	border-color: transparent transparent transparent #FFFFFF;
	border-style: solid;
}
.arrowBody {
	position: absolute;
	right: 370px;
	top: 9px;
	width: 30px;
	height: 6px;
	background-color: #FFFFFF;
}



/* Custom Video Controls bar */



.custom-controls {
	display: none;
	position: absolute;
	width:calc(100% - 341px);
	height: 65px;
	/* background-color: green; */
	background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));
	bottom: 0;
	left: 0;
    z-index: 999;
}

#videoPlayer.show-cursor {
    cursor: auto;
}

#videoPlayer {
	display: none;
}

.progress-bar-container{	
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	cursor: pointer;
	/* background-color: blue; */
	display: flex;
}

.progress-bar {
	margin:auto;
	width: calc(100% - 40px);
	height: 6px;
	background-color: rgba(98, 98, 98, 0.8);
	border-radius: 2px;
	/* border-top-left-radius: 1px; */
	/* border-top-right-radius: 3px; */
	/* border-bottom-right-radius: 3px; */
	/* border-bottom-left-radius: 1px; */
}
.progress-bar-container .progress-bar {
	transition: height 0.1s ease;
}
.progress-bar-container:hover .progress-bar {
	margin: auto;
	height: 8px;
	padding: 0;
	background-color: #626262;
	/* border-radius: 2px; */
	opacity: 100%;
	transition: height 0.1s ease;
}

.progress-bar-container:hover .barSelector {
	float: right;
	height: 18px;
	width: 18px;
	background-color: #ff0000;
	/* border: 1px solid rgba(255, 255, 255, 0.8); */
	border-radius: 50%;
	margin-top: -5px;
	margin-right: -10px;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}


.progress-bar-container:hover .bar {
	background-color: rgba(255, 0, 0, 1);
}




.timeSeekerBar {
	width: 2px;
	height: 8px;
	position: absolute;
	background-color: rgb(255,255,255,0.6);
	opacity: 0%;
}
.progress-bar-container:hover .timeSeekerBar {
	opacity: 100%;
	animation: fadeInAnimationBar ease 0.2s;
}
.progress-bar-container .timeSeekerBar {
	opacity: 0%;
	animation: fadeOutAnimationBar ease 0.1s;
}

.progress-bar-container:hover .chapterMarker {
	transition: height 0.075s ease;
	transition: margin 0.075ss ease;
}
.progress-bar-container .chapterMarker {
	transition: height 0.2s ease;
	transition: margin 0.1s ease;
}


.progress-bar-container .barSelector {
}

.bar {
    margin-right: auto;
	width: calc(0% + 1px);
	height: 100%;
	background-color: rgba(255, 0, 0, 0.8);
	left: 0;
}

.barSelector {
	position: relative;
	height: 100%;
	width: 2px;
	background-color: white;
	float: right;
	transition:all 0.05s linear;
	z-index: 10;
}

.chapterMarker {
	position: relative;
	display: inline-block;
	float: left;
	top: 0;
	width: 2px;
	height: 100%;
	background-color: rgb(255,255,255,0.5);
}

.buttons-container{
	bottom: 0;
	left: 0;
	position: absolute;
	height: 45px;
	width: 100%;
	/* background-color: orange; */
}
#leftButtonbuffer {
	height: 100%;
	width: 15px;
	float: left;
}

#chapters {
	position: relative;
	margin: 8px 10px 8px 0;
	float: left;
	width: 29px;
	height: 29px;
	fill: #fff;
	opacity: 90%;
}

.chapterstooltiptext {
	vertical-align: super;
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
	font-size: 15px;
}
#chapters .chapterstooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 200%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

#chapters .chapterstooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 15%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#chapters:hover .chapterstooltiptext {
  visibility: visible;
  opacity: 100%;
}

#chapters svg {
	display: block;
	height: 29px;
	width: 29px;
	margin: 4.5px;
}

#chapterSelector {
	position: absolute;
	left: 10px;
	bottom: 90px;
	height: auto;
	min-height: 60px;
	max-height: calc(100% - 120px);
	flex: 1;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: thin;
	width: 300px;
	display: block;
	/* border-radius: 9px; */
	z-index: 99999;
	background-color:#1f1f23;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}



.show {
  display: block !important;
}
.hide {
  display: none !important;
}

#volumeChangeContainer{
	position: absolute;
	width: calc(100% - 341px);
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	z-index: 99;
	pointer-events: none;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#volumeUpDown{
	position: relative;
	margin: auto;
	top: 15%;
	width: 99px;
	height: 99px;
	fill: #fff;
	opacity: 75%;
}
#volumeUpDown svg {
	display: block;
	height: 99px;
	width: 99px;
	margin: -4.5px 0 0 -2.5px;
	margin-left: 10px;
}

#volPercentCont {
	margin-left: 10px;
	height: 50px;
	width: 99px;
	text-align: center;
	top: 10px;
	position: relative;
}
#volPercent {
	font-size: 24px;
	margin: auto;
	padding: 10px 5px;
	background-color: rgb(0,0,0,0.5);
	position: relative;
	border-radius: 5px;
	display: none;
	z-index:99;
	opacity: 100%
}

.volume-speaker-large{
	position: relative;
	display: none;
	z-index:99;
	/* opacity: 75% */
}
.volume-speaker-muted-large{
	position: relative;
	display: none;
	z-index:99;
	/* opacity: 75% */
}
.volume-animated-speaker-half-large{
	position: relative;
	display: none;
	z-index:99;
	/* opacity: 75% */
}



.chapter {
	width: 250px;
	padding: 5px 10px;
	margin: 5px auto 5px auto;
	height:auto;
	min-height: 63px;
	display: block;
	position: relative;
	/* height: 80px; */
	/* border-radius: 9px; */
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.chapter:hover {
    background-color: #464649;
}

#chapterSelector .active {
	background-color: #9147ff;
}
#chapterSelector .active .chapterName{
	color: #dedee3;
}
#chapterSelector .active .chapterTime{
	color: #adadad;
}
#chapterSelector .active:hover .chapterName{
	color: #ffffff;
}
#chapterSelector .active:hover .chapterTime{
	color: #ffffff;
}
.chapter:hover .chapterName{
	color: #d1d1d1;
}
.chapter:hover .chapterTime{
	color: #b2b2b2;
}

.chapterName {
	position: relative;
	display: block;
	width: 190px;
	margin: 5px;
	display: flex;
	font-size: 15px;
	color: #dedede;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.chapterTime {
	position: relative;
	display: block;
	width: 190px;
	margin: 5px;
	display: flex;
	color: #adadad;
	font-size: 13px;
	display: block;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.chapterimage {
	width: 40px;
	height: 53px;
	margin: 5px;
	position: absolute;
}

.chapTextContainer {
	position: absolute;
	left: 65px;
	top: 50%;
	transform: translateY(-50%);
}

.custom-controls .button {
	display:inline-block;

    background: transparent;
    cursor: pointer;    
    transition: 100ms all ease;
}
.custom-controls .button:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
}
.custom-controls .button:selected {
}


/* Example using css transitions for button icons:
*    https://codepen.io/zhangzhuo/pen/LNGLOz
*/

#video-PausePlay-container{
	width:calc(100% - 341px);
	height: 100%;
	/* height: calc(100% - 65px); */
	position: absolute;
    top: 0;
    left: 0;
	z-index: 98;
	display: none;
	align-items: center;
	background-color: rgb(0,0,0,0.4);
}

.video-PausePlay-circle{
	margin: auto;
	width: 100px;
	height: 100px;
	padding: 50px;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 100%;
	z-index: 96;
	cursor: pointer;
}
.video-PausePlay{
	margin-left: 10px;
	width: 100px;
	height: 100px;	
	clip-path: polygon(0px 0px, 100% 50%, 0% 100%);
    background: #e5e5e5;
	z-index: 97;
}


.custom-controls #playpause, .custom-controls #stop {
	margin: 8px 0 8px 0;
    width: 17px;
    height: 17px;
    cursor: pointer;
	padding: 6px;
	float: left;
}
.play-button {
	margin: 0px;
    position: absolute;
    width: 17px;
    height: 17px;
    background: #fff;
    transition: clip-path .3s ease;
}
.play-button-before {
    clip-path: polygon(0 0, 50% 25%, 50% 75%, 0% 100%);
    background: #ffffff;
}
.play-button-after {
    clip-path: polygon(50% 25%, 100% 50%, 100% 50%, 50% 75%);
    background: #ffffff;
}
#playpause.play:hover .play-button-before {
    background: #ffffff;
	opacity: 100%;
}
#playpause.play:hover .play-button-after {
    background: #ffffff;
	opacity: 100%;
}
#playpause.pause .play-button-before {
    clip-path: polygon(0 0, 30% 0, 30% 100%, 0% 100%);
    background: #ffffff;
	opacity: 90%;
}
#playpause.pause .play-button-after{
    clip-path: polygon(70% 0, 100% 0, 100% 100%, 70% 100%);
    background: #ffffff;
	opacity: 90%;
}

.time-container{
	margin: 10px 0 10px 15px;
	float: left;
	width: 100px;
	height: 25px;
	top: 0;
	width: 200px;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


/* Preview Start */

#previewBox{
	width: 180px;
	height: 120px;
	position: absolute;
	/* background-color: teal; */
	/* border: 1px solid #000000; */
	margin-top: -145px;
	display: none;
}


#imagePreview{
	width: 180px;
	height: 100px;
	/* background-color:#a970ff; */
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#timePreview{
	height: 16px;
	width: 100%;
	font-size: 15px;
	text-shadow: 0px 0px 2px #000000, 0px 0px 3px #000000;
	display: inline-block;
    margin: auto;
    padding: 2px 0;
	text-align: center;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#previewVid{
	height: 100px;
	width: 180px;
	cursor: default !important;
}



/* Preview Ends */

/* Volume Buttons */

#volumeContainer {
	float: left;
	height: 29px;
	width: 200px;
	background-color: purple;
	margin: 8px 0 8px 0;
}

#volume{
	position: relative;
	margin: 8px 0 8px 10px;
	float: left;
	width: 29px;
	height: 29px;
	fill: #fff;
	opacity: 90%;
}
#volume svg {
	display: block;
	height: 29px;
	width: 29px;
	margin: -4.5px 0 0 -2.5px;
}


.volume-speaker-muted{
	display: none;
}
.volume-animated-speaker-half{
	display: none;
}




/* Volume Slider */

.slider-container {
	position: relative;
	top: 0;
	float: left;
	cursor: pointer;
	height: 20px;
	width: 100px;
	margin: 12.5px 0 12.5px 5px;
	padding: 0 10px 0 10px
}


#slider {
	position: relative;
	display: block;
	margin: 7.5px 0 7.5px 0;
	width: 100px;
	height: 5px;
	background: rgb(255, 255, 255, 0.25);
	clear: both;
}
#fill {
	pointer-events: none;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background: #ffffff;
	width: 100%;
	height: 100%;
}
#bar {
	pointer-events: none;
	z-index: 2;
	position: absolute;
	right: -10px;
	top: -7px;
	display: block;
	width: 19px;
	height: 19px;
	background: #ffffff;
	border-radius: 100%;
}

/* Volume Slider */

.slider-container {
	position: relative;
	top: 0;
	float: left;
	cursor: pointer;
	height: 20px;
	width: 100px;
	margin: 12.5px 0 12.5px 5px;
	padding: 0 10px 0 10px
}


#slider {
	position: relative;
	display: block;
	margin: 7.5px 0 7.5px 0;
	width: 100px;
	height: 5px;
	background: rgb(255, 255, 255, 0.25);
	clear: both;
}
#fill {
	pointer-events: none;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background: #ffffff;
	width: 100%;
	height: 100%;
}
#bar {
	pointer-events: none;
	z-index: 2;
	position: absolute;
	right: -10px;
	top: -7px;
	display: block;
	width: 19px;
	height: 19px;
	background: #ffffff;
	border-radius: 100%;
}


.cannotSelect {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}




/* Custom Video Controls bar Ends */

#optionsOverlay {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	right: 0;
	top: 0;
	z-index: 998;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#optionsBox {
	position: absolute;
	width: 340px;
	height:170px;
	border: 1px solid #303032;
	margin: auto;
	background-color: #1f1f23;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 999;
	
	text-align:center;
	display: flex;
}

#optionsMenu {
	list-style-type: none;
	padding: 0;
	width: 100%;
	height: 150px;
	margin: 10px auto;
    position: relative;
}

#optionsMessages {
	list-style-type: none;
	display: inline;
	margin: auto;
}
#optionsMessages li{
	display: inline;
}
#optionsMessages ul{
	padding: 0;
}

#optionsOffset {
	list-style-type: none;
	display: inline;
	margin: auto;
}
#optionsOffset li{
	display: inline;
}
#optionsOffset ul{
	padding: 0;
	margin: 10px auto auto auto;
}
#accentColorOption {
	list-style-type: none;
	display: inline;
	margin: auto;
}
#accentColorOption li{
	display: inline;
}
#accentColorOption ul{
	padding: 0;
	margin: 10px auto auto auto;
	text-align: center;
}

#optionsClose {
	width: 60px;
	cursor: pointer;
	padding: 2px;
}

#optionsMenu #optionsClose {
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
}

.optionsBoxCenter {
	height: 100%;
}

#OptionsCover {
	background-color: rgb(0,0,0,0.8);
	height: 100%;
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

#BottomBoxTitleN {
	margin: auto 0px auto auto;
	float: left;
	font-size: 14px;
	width: 210px;
	display: inline;
	padding-right: 5px;
}

#messageNumber {
	margin: auto auto auto 0px;
	float: right;
	font-size: 12px;
	display: inline;
}

.selector{
	color: white;
	background-color: #1f1f23;
	border: 2px solid #535353;
	border-radius: 3px;
	margin-left: 10px;
}

.OffsetTime{
	color: white;
	background-color: #1f1f23;
	border: 2px solid #535353;
	border-radius: 3px;
	margin-left: 5px;
	width: 40px;
	margin-right: 2px;
}
.Offsetselector{
	color: white;
	background-color: #1f1f23;
	border: 2px solid #535353;
	border-radius: 3px;
}
.CurrentChatOffset{
	margin-left: 5px;
}
.offsetInfo {
	vertical-align: super;
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}
.offsetInfo .offsetInfoToolTip {
	visibility: hidden;
	width: 360px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: -618%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.offsetInfo .offsetInfoToolTip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.offsetInfo:hover .offsetInfoToolTip {
  visibility: visible;
  opacity: 1;
}

.accentInfo {
	vertical-align: super;
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}
.accentInfo .accentInfoToolTip {
	visibility: hidden;
	width: 220px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: -232%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.accentInfo .accentInfoToolTip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.accentInfo:hover .accentInfoToolTip {
  visibility: visible;
  opacity: 1;
}

#Offsetmessage {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 5px;
	font-size: 14px;
	background-color: green;
}


#Offsetmessage.animate {
    animation: fadeOutInfo ease 0.3s;
    transition-delay:5s;
    
}
.input-error{
    outline: 1px solid red;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.colorpicker {
	position: relative;
    border: solid thin black;
    width: 50px;
    height: 18px;
	display: inline-block;
	background-color: #a970ff;
	border-radius: 5px;
	margin: auto;
	top: 4px;
}

#timeoffsetTitle {
	padding-right: 5px;
}
#accentColorTitle {
	padding-right: 5px;
}

#optionsmessageNumbers {}

#CenterBox {
	width: 100%;
	height: 100%;
	background-color: green;
}

#topBox {
	width: 340px;
	height:90px;
	border-left: 1px solid #303032;
	position:absolute;
	top: 0;
	right: 0;
    bottom: 0;
	background-color: #1f1f23;
}

#topBox > div {
    height: 20px;
	padding-top: 2px;
	margin: auto;
}

#topBox .topBoxTitle {
    width: 55px;
	margin: auto;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#clickOptions {
	margin: -4px auto auto 0;
	font-size: 14px;
	cursor: pointer;
	padding: 2px;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */	
}

.optionsGear {
	fill: #dedede;
	padding: 1px;
	border-radius: 4px;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */	
}
.optionsGear:hover {
	cursor: pointer;
	background-color: #464649;
}	
#clickOptions .clickOptionstiptext {
  visibility: hidden;
  width: 60px;
  background-color: #464649;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 62px;
  left: 10%;
}
#clickOptions .clickOptionstiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #464649 transparent transparent;
}

#clickOptions:hover .clickOptionstiptext {
  visibility: visible;
}

#message {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 5px;
	font-size: 14px;
	background-color: green;
	padding: 1px 5px;
}
#message.animate {
    animation: fadeOutInfo ease 0.3s;
    transition-delay:5s;
    
}
@keyframes fadeOutInfo {
    100% {
        opacity: 0.4;
    }
    0% {
        opacity: 1;
     }
}

#controls {
    display: inline-block;
}

#collapseChat {
	position: absolute;
	padding: 1px;
	right: 4px;
	top: 65px;
	border-radius: 4px;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */	
}
#collapseChat:hover {
	cursor: pointer;
	background-color: #464649;
}
#collapseChat .collapsetooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #464649;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 135%;
}
#collapseChat .collapsetooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #464649;
}

#collapseChat svg {
  fill: #dedede;
}
#collapseChat:hover svg {
  fill: #ffffff;
}
#collapseChat:hover .collapsetooltiptext {
  visibility: visible;
}

#chatCover:hover {
	background-color: #2b2b2f;
	cursor: pointer;
}
#chatCover {
	height: 100%;
	width: 25px;
	position: absolute;
	bottom: 0;
	right: 0;
	border-left: 1px solid #303032;
	border-top: 1px solid #303032;
	border-bottom: 1px solid #303032;
	background-color: #1f1f23;
}
#chatCover svg{
	fill: white;
	position: absolute;
	
}
#chat {
	position: absolute;
	bottom: 0;
	right: 0;
    width: 332px;
    border-left: 1px solid #303032;
	border-top: 1px solid #303032;
    height: calc(100% - 96px);
	overflow-y: scroll;
	background-color:#18181b;
 	font-family: "Inter";
	color: rgb(222, 222, 227);
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	overflow-x: hidden;
	scrollbar-width: thin;
	/* scrollbar-width: none; */
	padding-bottom: 5px;
	padding-right: 8px;
}
.chatline:first-of-type {
	margin-top: 5px;
}
#autoscroller {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 340px;
	height: 40px;
	z-index: 99;
	border-top: 1px solid #303032;
	background-color: #18181b;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	display:flex;
	justify-content:center
	
}
#autoscrollerTEXT {
	margin: auto;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	vertical-align: middle;
	
}
#autoscroller:hover {
	background-color: #464649;
	cursor: pointer;
	transition: 100ms all ease;	
}

/* Test Message formatting */

.issubmessage {
	border-left-color: #a970ff;
	border-left-style: solid;
	border-left-width: 6px;
	background-color: #1f1f23;
}
.isPayingForward {
	border-left-color: #26262c;
	border-left-style: solid;
	border-left-width: 4px;
	color: #adadb8;
}
.isPayingForwardContainer {
	padding: 5px 0;
	margin-left: 16px;
}
.isPayingForward .chatmessage{
}

.issubmessage .commenter{
	position: relative;
	top: 8px;
	left: 10px;
	margin: 0;
	display: block;
	font-weight: 700;
	display: inline-block;
}
.issubmessage .chatmessage{
	position: relative;
	margin: 0 auto 10px 45px;
	display: block;
}
.issubmessage .subResubTheyve{
	position: relative;
	margin-left: 5px;
}
.issubmessage .userComment .chatmessage{
	margin: 0;
	display: inline;
}
.userComment {
	display: block;
	margin-bottom: 10px;
	margin-left: 16px;
}

.issubmessage .commenter2{
	position: relative;
	left: 0;
	margin: 0;
	display: inline;
	font-weight: 700;
	display: inline-block;
	vertical-align: top;
}
.commenter2:hover{
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}
.smallgifticon {
	margin-left: 15px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	float: left;
	height: 20px;
	width: 20px;
}
.primeicon {
	margin: 9px auto auto 15px;
	width: 20px;
	height: 20px;
	display: inline-block;
}
.staricon {
	margin: 9px auto auto 15px;
	width: 20px;
	height: 20px;
	display: inline-block;
}
.primeSub {
	position: relative;
	margin: 0;
	fill: #a970ff;
	width: 16px;
	height: 11px;
}
.prime {
	color: #a970ff;
}
.tierOneSub {
	position: relative;
	margin: 0;
	fill: #adadb8;
	width: 16px;
	height: 11px;
}
.subgift {
	fill: #efeff1;
}
.issubgift {
	/* margin-top: -4px; */
}

.subgiftcontainer {
	padding: 5px 0;
}.subgiftcontainer .chatmessage{
	margin: 0;
}
.subgiftcontainer .reciever  {
	font-weight: 900;
}
.subgiftcontainer .middlemessage  {
	color: #adadb8;
}
.subgiftcontainer .exclamation  {
	color: #adadb8;
}
.subgiftcontainer .theyvecontainer  {
	color: #adadb8;
}

.giftednumber {
	color: white;
	font-weight: 700;
}
.giftingnumber {
	color: white;
	font-weight: 700;
}


.issubgift .subgiftcontainer{
	margin-left: 55px;
}
.issubgift .subgiftcontainer .chatmessage{
	margin-left: 0;
}
.issubgift .issubmessage svg{
	margin-top: auto;
	margin-left: 15px;
	display: inline;
	vertical-align: middle;
}
.issubgift .commenter{
}

.isbiggiftsubmessage {
	border-left-color: #a970ff;
	border-left-style: solid;
	border-left-width: 6px;
	background-color: #1f1f23;
	margin: 0;
}
.isbiggiftsubmessage .commenter{
	position: relative;
	top: 12px;
	left: 9px;
	margin: 0;
	display: block;
	font-size: 16px;
	font-weight: 900;
	display: inline-block;
}
.isbiggiftsubmessage .bigsubgiftcontainer{
	position: relative;
	margin: -16px auto 14px 65px;
	display: block;
	color: #adadb8;
}
.isbiggiftsubmessageimg {
	position: relative;
	margin: 9px auto auto 15px;
	width: 40px;
	height: 40px;
}
.cheer {
	position: relative;
	width: 28px;
	height: 28px;
	margin: -4px 2px 0 2px;
}
.cheer1 {
	margin-right: 4px;
	font-weight: 900;
	color: #6a696e;
}
.cheer100 {
	margin-right: 4px;
	font-weight: 900;
	color: #913df7;
}
.cheer1000 {
	margin-right: 4px;
	font-weight: 900;
	color: #3fd1be;
}
.cheer5000 {
	margin-right: 4px;
	font-weight: 900;
	color: #2472d4;
}
.cheer10000 {
	margin-right: 4px;
	font-weight: 900;
	color: #ff2b28;
}
.cheer100000 {
	margin-right: 4px;
	font-weight: 900;
	color: #f1921a;
}

.badge {
	margin-right: 3px;
}
.badge-size {
	margin-right: 3px;
	height: 18px;
	width: 18px;
}

/* Tier 2 Sub Animation */

.animated-tier-star__star {
  fill: #adadb8;
  transform-origin: center;
}

.animated-tier-star__swipe {
  height: 100%;
  transform: translate(-100%);
  transform-origin: center;
  width: 20px;
}

.animated-tier-star--tier-2 .animated-tier-star__swipe--1 {
  -webkit-animation: t2-swipe-1 3s linear 0s infinite;
  animation: t2-swipe-1 3s linear 0s infinite;
}

.animated-tier-star--tier-2 .animated-tier-star__swipe--2 {
  -webkit-animation: t2-swipe-2 3s linear 0s infinite;
  animation: t2-swipe-2 3s linear 0s infinite;
}


@-webkit-keyframes t2-swipe-1 {
  0% {
    transform: rotate(45deg) translate(-20px);
  }

  16.66667%,
  to {
    transform: rotate(45deg) translate(20px);
  }
}

@keyframes t2-swipe-1 {
  0% {
    transform: rotate(45deg) translate(-20px);
  }

  16.66667%,
  to {
    transform: rotate(45deg) translate(20px);
  }
}

@-webkit-keyframes t2-swipe-2 {

  0%,
  5.55556% {
    transform: rotate(45deg) translate(-20px);
  }

  22.22222%,
  to {
    transform: rotate(45deg) translate(20px);
  }
}

@keyframes t2-swipe-2 {

  0%,
  5.55556% {
    transform: rotate(45deg) translate(-20px);
  }

  22.22222%,
  to {
    transform: rotate(45deg) translate(20px);
  }
}

/* Tier 2 Sub Animation */


/* Tier 3 Sub Animation */

.animated-tier-star__star {
  fill: #adadb8;
  transform-origin: center;
}

.animated-tier-star__swipe-mask {
  transform-origin: center;
}

.animated-tier-star--tier-3 .animated-tier-star__star {
  -webkit-animation: star-t3 3s ease-in-out 0s infinite;
  animation: star-t3 3s ease-in-out 0s infinite;
}

.animated-tier-star--tier-3 .animated-tier-star__swipe-mask {
  transform: rotate(72deg) scale(1.25);
}

.animated-tier-star--tier-3 .animated-tier-star__swipe-group {
  transform: rotate(-72deg);
  transform-origin: center;
}

.animated-tier-star--tier-3 .animated-tier-star__swipe--1 {
  -webkit-animation: t3-swipe-1 3s linear 0s infinite;
  animation: t3-swipe-1 3s linear 0s infinite;
}

.animated-tier-star--tier-3 .animated-tier-star__swipe--2 {
  -webkit-animation: t3-swipe-2 3s linear 0s infinite;
  animation: t3-swipe-2 3s linear 0s infinite;
}

.animated-tier-star--tier-3 .animated-tier-star__swipe--3 {
  -webkit-animation: t3-swipe-3 3s linear 0s infinite;
  animation: t3-swipe-3 3s linear 0s infinite;
}

.animated-tier-star__swipe {
  height: 100%;
  transform: translate(-100%);
  transform-origin: center;
  width: 20px;
}

@-webkit-keyframes t3-swipe-1 {

  0%,
  8.33333% {
    transform: rotate(45deg) translate(-20px);
  }

  25%,
  to {
    transform: rotate(45deg) translate(20px);
  }
}

@keyframes t3-swipe-1 {

  0%,
  8.33333% {
    transform: rotate(45deg) translate(-20px);
  }

  25%,
  to {
    transform: rotate(45deg) translate(20px);
  }
}

@-webkit-keyframes t3-swipe-2 {

  0%,
  13.88889% {
    transform: rotate(45deg) translate(-20px);
  }

  30.55556%,
  to {
    transform: rotate(45deg) translate(20px);
  }
}

@keyframes t3-swipe-2 {

  0%,
  13.88889% {
    transform: rotate(45deg) translate(-20px);
  }

  30.55556%,
  to {
    transform: rotate(45deg) translate(20px);
  }
}

@-webkit-keyframes t3-swipe-3 {

  0%,
  19.44444% {
    transform: rotate(45deg) translate(-20px);
  }

  36.11111%,
  to {
    transform: rotate(45deg) translate(20px);
  }
}

@keyframes t3-swipe-3 {

  0%,
  19.44444% {
    transform: rotate(45deg) translate(-20px);
  }

  36.11111%,
  to {
    transform: rotate(45deg) translate(20px);
  }
}

@-webkit-keyframes star-t3 {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50%,
  8.33333% {
    transform: rotate(72deg) scale(1.25);
  }

  58.33333%,
  to {
    transform: rotate(72deg) scale(1);
  }
}

@keyframes star-t3 {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50%,
  8.33333% {
    transform: rotate(72deg) scale(1.25);
  }

  58.33333%,
  to {
    transform: rotate(72deg) scale(1);
  }
}

/* Tier 3 Sub Animation */


/* width */
#chat::-webkit-scrollbar {
  width: 8px;
}

/* Track */
#chat::-webkit-scrollbar-track {
  background: #18181b; 
}
 
/* Handle */
#chat::-webkit-scrollbar-thumb {
  background: #727274;
}

/* Handle on hover */
#chat::-webkit-scrollbar-thumb:hover {
  background: #5f5f61; 
}

.chat-image-scale-undefined{
	padding-left: 4px;
}
.cover-bar {
	position: absolute;
	bottom: 0;
	right: 0;
    width: 8px;
	height: calc(100% - 91px);
	background-color:#18181b;
	z-index: 98;
	opacity: 100%;
	visibility: visible;
	animation-fill-mode: forwards;
	animation: CoverFadeIn linear 0.1s;
}
.scroll-bar-wrap:hover .cover-bar {	
	animation-fill-mode: forwards;
	animation: CoverFadeOut linear 0.1s;
	visibility: hidden;
	
}

@keyframes CoverFadeIn {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
     }
}
@keyframes CoverFadeOut { 
    0% { 
        opacity: 100%;
		visibility: visible;
    }
    99% {
        opacity: 1%;
     }
	100% {
		visibility: hidden;
	 }
}


input {
    width: 275px;
	background-color:#2b2b2f;
	font-size: 12px;
	font-weight: 400;
}


.info {
	font-family: "Inter";
}

.error {
    background-color: red;
    color: white;
}

.flex {
    display: flex;
}

.center {
    text-align: center;
}

.chatline {
    display: flex;
    white-space: nowrap;
	margin-bottom: 5px;
	/* padding-top: 5px; */
}

.chattime {
    margin: 0 10px 0 10px;
    vertical-align: top;

    font-size: 12px;
    font-weight: 400;
	border-radius: 2px;
}

.chattime:hover {
    margin: 0 7px 0 7px;
    background-color: #464649;
	padding: 0 3px 0 3px;
	cursor: pointer;
}

.chatbody {
	width: 100%;
    white-space: normal;
	word-break: break-word;
}

.commenter {
    vertical-align: top;
    font-weight: bolder;
}
.commenter:hover{
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.messagePrefix {
    vertical-align: top;
    margin-right: 1px;
}

.chatmessage {
    vertical-align: top;
}
.chatmessage span {
    display: inline;
    vertical-align: top;
}

.chat-image-scale-1 {
	margin: 0 2px 0 2px;
}

.chat-image-scale-2 {
	margin: 0 2px 0 2px;
}

.chat-image-scale-3 {
	margin: 0 2px 0 2px;
}

.video-time {
	display: inline-block;
    margin: auto 0px;
    padding: 2px 2px;
	text-align: center;
	
}
#timeSeperator {
}


/* Play Button */

.video-controls-container .controls button {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  height: 30px;
  width: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  opacity: .85;
  transition: opacity 150ms ease-in-out;
}

.video-controls-container .controls button:hover {
  opacity: 1;
}

.video-container.paused .pause-icon {
  display: none;
}

.video-container:not(.paused) .play-icon {
  display: none;
}